<div id="new-product" class="card">
  <h1 class="title">New product</h1>
  <%= render "form", product: @product %>
  <div>
    <%= link_to "Back to products", products_path, class: 'button button2' %>
  </div>
</div>
